<div class="back-button-container">
  <span class="back-button" (click)="onGoBackClick()">
    <object class="ic-back" data="../../assets/icons/left-arrow.svg" type="image/svg+xml"></object>
    Назад</span>
</div>

<div class="page-header">
  <h1 class="page-header_title">
    Избранное
  </h1>
</div>

<div *ngIf="favRecipes.length !== 0; else noFavs">
  <app-recipe-card class="recipe-card__clickable" *ngFor="let recipe of favRecipes" [recipe]="recipe"
    routerLink="/details/{{ recipe.recipeID }}"></app-recipe-card>
</div>
<ng-template #noFavs>
  <div class="no-favs-message">
    Ваш список пуст
  </div>
</ng-template>