<div class="recipe-card">
  <div class="recipe-card_pic-container">
    <div class="recipe-card_pic"
      [ngStyle]="{ 'background-image': 'url(../../../../assets/recipe_images/' + recipe.imageName + ')'}"
      [routerLink]="'/recipes/details/' + recipe.id"></div>
    <div class="recipe-card_author">
      <div class="ellipsis-text">@{{ recipe.authorUsername }}</div>
    </div>
  </div>
  <div class="recipe-card-right">

    <div class="recipe-card_top">
      <div class="recipe-card_tags">
        <div *ngFor="let tag of recipe.tags" class="recipe-card_tag">
          <span class="ellipsis-text">{{ tag }}</span>
        </div>
      </div>
      <div class="recipe-card_btns">
        <button type="button" class="button-outlined recipe-card_btn" (click)="onFavoriteClick()">
          <div class="recipe-card_btn_icon"
            [ngClass]="{'star-icon__active': recipe.isFavoritedByActiveUser, 'star-icon__inactive': !recipe.isFavoritedByActiveUser}">
          </div>
          <div class="favs-count">{{ recipe.timesFavorited }}</div>
        </button>

        <button type="button" class="button-outlined recipe-card_btn" (click)="onLikeClick()">
          <div class="recipe-card_btn_icon"
            [ngClass]="{'heart-icon__active': recipe.isLikedByActiveUser, 'heart-icon__inactive': !recipe.isLikedByActiveUser}">
          </div>
          <div class="favs-count">{{ recipe.timesLiked }}</div>
        </button>
      </div>
    </div>

    <div class="recipe-card_desc">
      <h1 *ngIf="!onDetailPage" [routerLink]="'/recipes/details/' + recipe.id" class="recipe-card_title">{{ recipe.title
        }}</h1>
      <p class="recipe-card_main-text">{{ recipe.description }}</p>
    </div>

    <div class="recipe-card_bottom">
      <div class="recipe-card_info">
        <div class="recipe-card_info_icon timer-icon"></div>
        <div>
          <div class="recipe-card_info_title">Время приготовления</div>
          <div class="recipe-card_info_main">{{ recipe.cookingTimeInMinutes }} мин</div>
        </div>
      </div>
      <div class="recipe-card_info">
        <div class="recipe-card_info_icon person-icon"></div>
        <div>
          <div class="recipe-card_info_title">Рецепт на:</div>
          <div class="recipe-card_info_main">{{ recipe.servingsCount }} персон</div>
        </div>
      </div>
    </div>
  </div>
</div>