<div class="recipe-card">
  <div class="recipe-card_pic-container">
    <img class="recipe-card_pic" [src]="recipe.imageURL" [alt]="recipe.name">
    <div class="recipe-card_author">
      <div class="ellipsis-text">@{{ recipe.user }}</div>
    </div>
  </div>
  <div class="recipe-card-right">

    <div class="recipe-card_top">
      <div class="recipe-card_tags">
        <div *ngFor="let tag of recipe.tags" class="recipe-card_tag">
          <span class="ellipsis-text">{{ tag }}</span>
        </div>
      </div>
      <div class="recipe-card_btns">
        <button class="button-outlined recipe-card_btn">
          <object class="recipe-card_btn_icon" data="../../assets/icons/star-inactive.svg" type="image/svg+xml"></object>
          <div class="favs-count">{{ recipe.timesFavorited }}</div>
        </button>
        <button class="button-outlined recipe-card_btn">
          <object class="recipe-card_btn_icon" data="../../assets/icons/heart-inactive.svg" type="image/svg+xml"></object>
          <div class="favs-count">{{ recipe.timesLiked }}</div>
        </button>
      </div>
    </div>

    <div class="recipe-card_desc">
      <h1 *ngIf="onDetailPage" class="recipe-card_title">{{ recipe.name }}</h1>
      <p class="recipe-card_main-text">{{ recipe.description }}</p>
    </div>

    <div class="recipe-card_bottom">
      <div class="recipe-card_info">
        <object class="recipe-card_info_icon" data="../../assets/icons/ic-timer-big.svg" type="image/svg+xml"></object>
        <div>
          <div class="recipe-card_info_title">Время приготовления</div>
          <div class="recipe-card_info_main">{{ recipe.cookingTimeInMinutes }} мин</div>
        </div>
      </div>
      <div class="recipe-card_info">
        <object class="recipe-card_info_icon" data="../../assets/icons/ic-persons.svg" type="image/svg+xml"></object>
        <div>
          <div class="recipe-card_info_title">Рецепт на:</div>
          <div class="recipe-card_info_main">{{ recipe.servingsAmount }} персон</div>
        </div>
      </div>
    </div>
  </div>
</div>